/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background-color: #fafafa;
}
// topic index
.topic-index-wrapper {
  padding-top: 70px;
 background-color: #fafafa;
 .topic-index-single {
   height: 160px;
   background-color: #fff;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-top: 30px;
   border: 1px solid #e6ecf0;
   border-radius: 3px;
   font-size: 30px;
 }
 ul {
   list-style: none;
 }

}
